body {
  background-color:#32CD32;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Arial", Times, serif;
  background-color:#778899;
  text-decoration: underline;
}

h2 {
  font-size:20px;
  font-family: "Verdana", Times, serif;
  letter-spacing: 2px;
}

p {
  font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: square;
}
