body {
  background-color:#C50D21;
  background-image: url("net.png");
  background-repeat: no-repeat;
  background-position : center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Arial", Times, serif;
  background-color:#778899;
  text-decoration: underline;
}

h2 {
  font-size:25px;
  font-family: "Verdana", Times, serif;
  letter-spacing: 2px;
  color:#3c3c3c;

}

p {
  font-family: "Times New Roman";
  color:#3c3c3c;
}

ul {
  font-family: "Times New Roman", Times, serif;
  list-style-type: square;
  color:#3c3c3c;
}
